:where(.css-dev-only-do-not-override-26rdvq).ant-checkbox-wrapper,
:where(.css-dev-only-do-not-override-26rdvq).ant-radio-wrapper {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 500;
}
:where(.css-dev-only-do-not-override-26rdvq).ant-checkbox + span,
:where(.css-dev-only-do-not-override-26rdvq).ant-radio-wrapper
    span.ant-radio
    + * {
    padding-inline-end: 0;
}

:where(.css-dev-only-do-not-override-26rdvq).ant-picker .ant-picker-suffix {
    color: var(--yellow-color-1);
    font-size: 2rem;
    cursor: pointer;
}
:where(.css-dev-only-do-not-override-26rdvq).ant-input,
:where(.css-dev-only-do-not-override-26rdvq).ant-picker
    .ant-picker-input
    > input {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 500;
}

:where(.css-dev-only-do-not-override-26rdvq).ant-select-single:not(
        .ant-select-customize-input
    )
    .ant-select-selector {
    display: flex;
    align-items: center;
    height: 40px;
}

:where(.css-dev-only-do-not-override-26rdvq).ant-select-single
    .ant-select-selector {
    font-family: var(--font-family);
    font-size: 1.6rem;
}
